---
import Layout from "../layouts/Layout.astro";
import AusstellerCard from "../components/AusstellerCard.astro";
---

<Layout title="Aussteller Seminare">
    <main>
        <div class="d-flex justify-content-center flex-column flex-xl-row">
            <div class="d-flex flex-column items-column">
                <h2>Seminare am Freitag,<br/>03.05.2024</h2>
                <AusstellerCard place="AS-1" text="Die Hebammenpraxis effizient und digital mit Hebamio" time="09:00 - 10:30 Uhr"/>
                <AusstellerCard place="FS-2" text="Laborwerte in der Hebammenarbei" time="10:45 - 12:15 Uhr"/>
                <AusstellerCard place="FS-3" text="Schmerzempfinden und -therapie bei Früh und Neugeborenen" time="14:00 - 15:30 Uhr"/>
                <AusstellerCard place="FS-4" text="Unter Uns - Selbsthilfe für Second Victims mit Renate Egelkrau" time="16:30 - 18:00 Uhr"/>
            </div>
            <div class="d-flex flex-column items-column">
                <h2>Seminare am Samstag,<br/>04.05.2024</h2>
                <AusstellerCard place="AS-5" text="Literarischer Salon - wie digital sind die Heb-Zeitungen" time="09:30 - 11:00 Uhr"/>
                <AusstellerCard place="FS-5" text="K-Taping, die Möglichkeiten in der Hebammenarbeit - Erklärung der Funktion und Praxisbeispiele" time="09:30 - 11:00 Uhr"/>
                <AusstellerCard place="FS-6" text="Quaddeln hands on mit Peggy Seehafer" time="10:30 - 12:00 Uhr"/>
                <AusstellerCard place="AS-7" text="CAR Augmented Reality" time="14:00 - 15:30 Uhr"/>
                <AusstellerCard place="FS-8" text="CTG Interpretation" time="14:45 - 16:15 Uhr"/>
            </div>
        </div>

    </main>
</Layout>

<style>
    h2 {
        color: #D88788;
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .items-column {
        gap: 2.2rem;
    }
    main > div {
        gap: 3.1rem;
    }
    main {
        background-color: #F1F1F1;
        padding-top: 9.6rem;
        padding-bottom: 10.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    @media only screen and (min-width: 1200px) {
        h2 {
            color: #D88788;
            font-size: 40px;
            line-height: 60px;
            font-weight: bold;
        }
    }
</style>