---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Event Infos">
    <main class="overflow-x-hidden">
        <div class="container-fluid fst-part">
            <div class="row fst-row">
                <div class="col">
                    <h2>ALLES AUF 1 BLICK</h2>
                    <h3>WISSENSCHAFTLICHE LEITUNG</h3>
                    <p class="mb-5">
                        Peggy Seehafer<br/>
                        Hebamme, Mag. art. Anthropologie<br/>
                        Hemma Pfeifenberger, M.Sc. Hebamme Universitätsklinikum<br/>
                        <br/>
                        Frankfurt am Main, Lehrende FH Kärnten</p>
                    <h3>MODERATION</h3>
                    <p class="mb-4">
                        ANNE BRÜNING<br/>
                        Fernseh-Journalistin und Moderatorin<br/>
                        beim Hessischen Rundfunk („die Ratgeber“)</p>
                </div>
                <div class="col order-first order-md-last">
                    <img src="/images/NoPath - Kopie (24).png" alt="">
                </div>
            </div>
            <div class="row snd-row">
                <div class="col">
                    <img src="/images/NoPath - Kopie (54).png" alt="" srcset="/images/NoPath - Kopie (54)@2x.png 2x">
                </div>
                <div class="col">
                    <h3>ORGANISATORISCHE LEITUNG</h3>
                    <p>
                        Sebastian Keppler, congress & more Klaus Link GmbH<br/>
                        (Kongressausstellung)<br/>
                        <br/>
                        Tel. 0721 62693912<br/>
                        E-Mail: keppler@congressandmore.de<br/>
                        <br/>
                        Evamaria Wilhelmi für das B.F.G.® (Sponsoring)<br/>
                        Tel.: 06421 3400227<br/>
                        Mobil: 015123019858<br/>
                        E-Mail: fobi@stressfrei-tagen.de
                    </p>
                    <h3>ZERTIFIZIERUNG</h3>
                    <p>
                        am 03.05.2024 - 5,7 Fortbildungsstunden, davon 1 im Bereich des<br/>
                        Notfallmanagements<br/>
                        <br/>
                        am 4.05.2024 - 6,7 Fortbildungsstunden, davon 1 im Bereich des<br/>
                        Notfallmanagements
                    </p>
                    <h3>KONGRESSMANAGEMENT & VERANSTALTER:</h3>
                    <div class="logo">
                        <img src="/images/Download.png" alt="">
                    </div>
                    <p>
                        Bildungsinstitut Fachbereiche Gesundheitswesen B.F.G.®<br/>
                        <br/>
                        E-Mail: <span class="underline">kongress@hebakon.de</span><br/>
                        Website: <span class="underline">www.hebakon.de</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid snd-part position-relative">
            <img src="/images/Gruppe 56.png" alt="" class="gruppe">
            <div class="row">
                <div class="col content">
                    <img src="/images/NoPath - Kopie (67).png" alt="">
                </div>
                <div class="col align-self-center content">
                    <h2>VERPFLEGUNG</h2>
                    <h3>FOOD & DRINKS</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br/>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    h3 {
        color: #D88788;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 1.4rem;
    }
    p {
        color: #1E1E1E;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
    }
    .underline {
        text-decoration: underline;
    }
    .fst-row {
        padding-left: 0.5rem;
    }
    .snd-row {
        gap: 0;
        padding-right: 1.0rem;
    }
    .fst-part {
        padding-bottom: 7.6rem;
    }
    .snd-part {
        background-color: #2F5862;
        padding-top: 0;
        padding-right: 0;
        overflow: hidden;
        padding-left: 1rem;
    }
    .snd-part .content {
        z-index: 2;
    }
    .gruppe {
        display: none;
        position: absolute;
        bottom: 2.5px;
        right: -6.25px;
        transform: rotate(109deg) scale(1.2);
        z-index: 1;
    }
    .snd-part .row {
        gap: 3.4rem;
    }
    .snd-part img {
        width: 102vw;
        height: auto;
        margin-left: -0.5rem;
    }
    .snd-part h2 {
        color: #D88788;
        font-size: 42px;
        line-height: 70px;
        font-weight: bold;
        margin-left: 0;
    }
    .snd-part h3 {
        color: #F8FBFD;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .snd-part p {
        color: #F8FBFD;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
    }
    .fst-part h2 {
        color: #D88788;
        font-size: 42px;
        line-height: 90px;
        letter-spacing: -2.05px;
        font-weight: 800;
        margin-bottom: 0;
        margin-right: 0;
        position: relative;
        text-align: center;
    }
    .fst-row img {
        width: 100vw;
        margin-right: 0;
        margin-bottom: -1rem;
        margin-left: -0.5rem;
    }
    .snd-row img{
        width: 100vw;
        height: auto;
        margin-top: 1.438rem;
    }
    .snd-row > .col:last-of-type {
        padding-left: 0.5rem;
    }
    .col {
        padding: 0;
    }

    main {
        padding: 0;
        background-color: #F1F1F1;
        padding-top: 0;
    }

    @media only screen and (min-width: 600px) {
        .gruppe {
            display: block;
        }
        .snd-part {
            background-color: #2F5862;
            padding-top: 9.2rem;
            padding-right: 5rem;
            overflow: hidden;
            padding-left: 0;
        }
        h3 {
            color: #D88788;
            font-size: 40px;
            font-weight: bold;
            line-height: 55px;
            margin-bottom: 1.4rem;
        }
        .snd-part h3 {
            color: #F8FBFD;
            font-size: 50px;
            line-height: 68px;
            letter-spacing: -2.05px;
            font-weight: bold;
            margin-bottom: 5.5rem;
        }
        .fst-part h2 {
            color: #D88788;
            font-size: 101px;
            line-height: 138px;
            letter-spacing: -5.05px;
            font-weight: 800;
            margin-bottom: 4rem;
            margin-right: -20rem;
            position: relative;
            text-align: left;
        }
        .snd-part h2 {
            color: #D88788;
            font-size: 90px;
            line-height: 122px;
            font-weight: bold;
            margin-left: -8.5rem;
        }
        .fst-row {
            padding-left: 3.3rem;
        }
        .fst-row img {
            width: 59.25rem;
            height: auto;
            margin-right: -1rem;
            margin-bottom: -1rem;
            margin-left: 0;
        }
        .snd-row img{
            width: 53.313rem;
            height: auto;
            margin-top: 3.438rem;
        }
        .snd-part img {
            width: 54.219rem;
            height: auto;
            margin-left: -1rem;
        }
        .snd-row > .col:last-of-type {
            padding-left: 7.438rem;
        }
        main {
            padding: 0;
            background-color: #F1F1F1;
            padding-top: 5.6rem;
        }
    }
    @media screen
    and (-webkit-max-device-pixel-ratio: 1) {
        .fst-row {
            padding-left: 16.3rem;
        }
        .snd-row {
            gap: 1.2rem;
            padding-right: 16.3rem;
        }
        .snd-part {
            background-color: #2F5862;
            padding-top: 9.2rem;
            padding-right: 31rem;
            overflow: hidden;
        }
        .snd-part h2 {
            color: #D88788;
            font-size: 90px;
            line-height: 122px;
            font-weight: bold;
            margin-left: -8.5rem;
        }
        main {
            padding: 0;
            background-color: #F1F1F1;
            padding-top: 12.6rem;
        }
    }

    .logo img {
        width: 13.688rem;
        height: auto;
        margin-top: 0;
        margin-bottom: 2rem;
    }
</style>