---
import Layout from "../layouts/Layout.astro";
import FurAusstelerPartOne from "../components/FurAusstelerPartOne.astro";
import FurAusstelerPartTwo from "../components/FurAusstelerPartTwo.astro";
import FurAusstelerPartSix from "../components/FurAusstelerPartSix.astro";
import FurAusstelerPartFive from "../components/FurAusstelerPartFive.astro";
import FurAusstelerPartThree from "../components/FurAusstelerPartThree.astro";
import FurAusstelerPartFour from "../components/FurAusstelerPartFour.astro";
---

<Layout title="Für Aussteller">
    <main>
        <FurAusstelerPartOne />
        <FurAusstelerPartTwo />
        <FurAusstelerPartThree />
        <FurAusstelerPartFour />
        <FurAusstelerPartFive />
        <div class="d-flex imgs">
            <div>
                <img src="/images/NoPath - Kopie (62).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (59).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (58).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (60).png" alt="">
            </div>
        </div>
        <FurAusstelerPartSix />
    </main>
</Layout>

<style>
    .imgs img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>