---
import Layout from "../layouts/Layout.astro";
import FurAusstelerPartOne from "../components/FurAusstelerPartOne.astro";
---

<Layout title="Für Aussteller">
    <main>
        <FurAusstelerPartOne />
        <div class="d-flex imgs">
            <div>
                <img src="/images/NoPath - Kopie (62).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (59).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (58).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (60).png" alt="">
            </div>
        </div>
    </main>
</Layout>

<style>
    .imgs img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>