---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import Infos from '../components/Infos.astro';
import IndexPageHeader from '../components/IndexPageHeader.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="/css/bootstrap.css" rel="stylesheet">
		<script src="/js/bootstrap.js" defer></script>
		<title>Hebakon</title>
	</head>
	<body>
		<NavBar />
		<IndexPageHeader />
		<main>

		</main>
		<Infos />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		margin: 0;
		padding: 0;
	}
</style>

