---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Industrieausstellung">
    <main>
        <div class="upper-part container-fluid text-end">
            <div class="row">
                <div class="col order-2 order-xxl-1">
                    <h2>AUSSTELLER IM ÜBERBLICK</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                </div>
                <div class="col-12 col-xxl order-1 order-xxl-2 px-0 z-1">
                    <img src="/images/NoPath - Kopie (64).png" alt="">
                </div>
            </div>
        </div>
        <div class="down-part">
            <div class="rounded shadow container companies">
                <div class="row">
                    <img src="/images/Bild 1.png" alt="" class="col-4">
                    <img src="/images/Logos_hebamio-04.png" alt="" class="col-4">
                    <img src="/images/NoPath - Kopie (5).png" alt="" class="col-4">
                </div>
                <div class="row">
                    <img src="/images/NoPath - Kopie (4).png" alt="" class="col-4">
                    <img src="/images/NoPath - Kopie (5).png" alt="" class="col-4">
                    <img src="/images/Bild 1.png" alt="" class="col-4">
                </div>
                <div class="row">
                    <img src="/images/Logos_hebamio-04.png" alt="" class="col-4">
                    <img src="/images/NoPath - Kopie (4).png" alt="" class="col-4">
                    <img src="/images/NoPath - Kopie (5).png" alt="" class="col-4">
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    p {
        color: #1E1E1E;
        font-size: 15px;
        text-align: left;
        line-height: 20px;
        font-weight: normal;
        margin-top: 2rem;
    }
    h2 {
        color: #D88788;
        font-size: 50px;
        line-height: 50px;
        font-weight: 800;
        text-align: left;
        margin-top: 2rem;
    }
    img {
        object-fit: contain;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .down-part {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .upper-part {
        margin-bottom: 2rem;
    }
    .companies {
        background-color: #F8FBFD;
        margin-right: auto;
        padding: 1rem;
    }
    main {
        background-color: #F1F1F1;
        padding: 0;
        margin: 0;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
    @media only screen and (min-width: 1400px) {
        h2 {
            font-size: 100px;
            line-height: 110px;
            font-weight: 800;
            margin-right: -10rem;
            text-align: right;
            position: relative;
            z-index: 2;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: normal;
            padding-left: 16rem;
            margin-right: -2rem;
            text-align: right;
        }
        img {
            object-fit: contain;
            position: relative;
            z-index: 1;
            width: 637px;
        }
        main {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        .down-part {
            padding-left: 10.9rem;
            padding-right: 10.9rem;
        }
        .upper-part {
            margin-bottom: 9.2rem;
        }
        .companies {
            padding: 2.9rem;
        }
    }
    @media screen
    and (min-width: 1700px) {
        img {
            width: 837px;
        }
        p {
            padding-left: 25rem;
            margin-right: -4rem;
        }
        .down-part {
            padding-left: 14.9rem;
            padding-right: 14.9rem;
        }
    }
</style>