---
import FormCard from "../components/FormCard.astro";
import InfoCard from "../components/InfoCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontaktformular">
    <main class="container-fluid">
        <div class="row">
            <div class="col">
                <FormCard />
            </div>
            <div class="col">
                <InfoCard />
            </div>
        </div>

    </main>
</Layout>

<style>
    main {
        background-color: #F1F1F1;
        padding-top: 4.8rem;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-bottom: 4.1rem;
    }
    .row {
        gap: 3rem;
    }
    .col {
        padding: 0;
    }

    @media screen
    and (min-width: 1700px) {
        main {
            padding-top: 7.8rem;
            padding-left: 16.6rem !important;
            padding-right: 16rem !important;
            padding-bottom: 7.1rem;
        }
    }
</style>
