---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Über Uns - Das Team">
    <main>
        <div class="d-flex imgs">
            <div>
                <img src="/public/images/NoPath - Kopie (16).png" alt="">
            </div>
            <div>
                <img src="/public/images/NoPath - Kopie (15).png" alt="">
            </div>
            <div>
                <img src="/public/images/NoPath - Kopie (17).png" alt="">
            </div>
            <div>
                <img src="/public/images/NoPath - Kopie (13).png" alt="">
            </div>
        </div>
    </main>
</Layout>

<style>
    .imgs img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>