---
import PeopleCard from "../components/PeopleCard.astro";
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Layout title="Über Uns - Das Team">
    <main>
        <div class="d-flex flex-column flex-xl-row directors justify-content-center">
            <div class="d-flex gap-4">
                <div class="img-up">
                    <img src="/images/NoPath - Kopie (4) - dir.png" alt="">
                </div>
                <div>
                    <img src="/images/NoPath - Kopie (6) - dir.png" alt="">
                </div>
            </div>
            <div>
                <h2>DIRECTORS</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="container-fluid team">
            <div class="row">
                <div class="col col-xl-4">
                    <div class="card team-card mx-auto mx-xl-0">
                        <div class="card-body">
                            <h4 class="card-title">Team</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </p>
                            <LinkButton>Weitere Infos</LinkButton>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-12">
                    <div class="container">
                        <div class="row card-row">
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (7).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (8).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (9).png" />
                            </div>
                        </div>
                        <div class="row card-row">
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (10).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (11).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (12).png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex imgs">
            <div>
                <img src="/images/NoPath - Kopie (16).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (15).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (17).png" alt="">
            </div>
            <div>
                <img src="/images/NoPath - Kopie (13).png" alt="">
            </div>
        </div>
    </main>
</Layout>

<style>
    .directors {
        padding-left: 1.4rem;
        padding-right: 2rem;
        margin-bottom: 3.2rem;
    }
    .directors img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .directors h2 {
        color: #D88788;
        font-size: 60px;
        font-weight: 800;
        line-height: 100px;
    }
    .directors p {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
    }
    .img-up {
        margin-top: -5rem;
    }
    main {
        background-color: #F1F1F1;
        padding-top: 5.4rem;
    }
    .card-text {
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 2rem;
    }
    .card-title {
        font-size: 40px;
        font-weight: bold;
        line-height: 55px;
        margin-bottom: 2.6rem;
    }
    .team-card {
        background-color: #335D66;
        color: #F8FBFD;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;
        margin-bottom: 4.75rem;
    }
    .team {
        padding: auto;
    }
    .card-row {
        gap: 4.75rem;
        margin-bottom: 4.6rem;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .imgs img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    @media only screen and (min-width: 992px) {
        .card-row {
            flex-direction: row;
        }
    }
    @media only screen and (min-width: 1200px) {
        .directors {
            padding-left: 20.4rem;
            padding-right: 21rem;
            margin-bottom: 9.2rem;
        }
        .directors img {
            height: unset;
            width: unset;
            object-fit: none;
        }
        .directors h2 {
            font-size: 127px;
            font-weight: 800;
            line-height: 173px;
            margin-left: -4.5rem;
        }
        .directors p {
            font-size: 20px;
            line-height: 30px;
            font-weight: normal;
            padding-left: 5.25rem;
        }
        main {
            padding-top: 8.4rem;
        }
        .team {
            padding: 0;
            padding-left: 5.6rem;
            padding-right: 5.6rem;
        }
        .card-row {
            gap: 4.75rem;
            margin-bottom: 4.6rem;
            flex-wrap: nowrap;
        }
        .team-card {
            width: 22.3rem;
            margin-bottom: 0;
        }
    }
    @media screen
    and (min-width: 1400px) {
        .team {
            padding: 0;
            padding-left: 15.6rem;
            padding-right: 15.6rem;
        }
        .directors {
            padding-left: 15.4rem;
            padding-right: 21rem;
            margin-bottom: 9.2rem;
        }
    }
</style>