---
import PeopleCard from "../components/PeopleCard.astro";
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Layout title="Über Uns - Das Team">
    <main>
        <div class="container-fluid team">
            <div class="row">
                <div class="col-4">
                    <div class="card team-card mx-auto mx-md-0">
                        <div class="card-body">
                            <h4 class="card-title">Team</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </p>
                            <LinkButton>Weitere Infos</LinkButton>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="container">
                        <div class="row card-row">
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (7).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (8).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (9).png" />
                            </div>
                        </div>
                        <div class="row card-row">
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (10).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (11).png" />
                            </div>
                            <div class="col">
                                <PeopleCard image="/images/NoPath - Kopie (12).png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex imgs">
            <div>
                <img src="/public/images/NoPath - Kopie (16).png" alt="">
            </div>
            <div>
                <img src="/public/images/NoPath - Kopie (15).png" alt="">
            </div>
            <div>
                <img src="/public/images/NoPath - Kopie (17).png" alt="">
            </div>
            <div>
                <img src="/public/images/NoPath - Kopie (13).png" alt="">
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        background-color: #F1F1F1;
        padding-top: 8.4rem;
    }
    .card-text {
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 2rem;
    }
    .card-title {
        font-size: 40px;
        font-weight: bold;
        line-height: 55px;
        margin-bottom: 2.6rem;
    }
    .team-card {
        background-color: #335D66;
        color: #F8FBFD;
        width: 22.3rem;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;
    }
    .team {
        padding: 0;
        padding-left: 15.6rem;
        padding-right: 15.6rem;
    }
    .card-row {
        gap: 4.75rem;
        margin-bottom: 4.6rem;
        flex-wrap: nowrap;
    }
    .imgs img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>