---

---

<div class="main d-flex justify-content-center position-relative">
    <div class="position-absolute bg-text">
        SEI BEREIT.
    </div>
    <div class="d-flex countdown">
        <div class="d-flex flex-column align-items-center number-container">
            <div class="number">
                95
            </div>
            <div class="subtitle">
                Tage
            </div>
        </div>
        <span class="separation">:</span>
        <div class="d-flex flex-column align-items-center number-container">
            <div class="number">
                07
            </div>
            <div class="subtitle">
                Wochen
            </div>
        </div>
        <span class="separation">:</span>
        <div class="d-flex flex-column align-items-center number-container">
            <div class="number">
                45
            </div>
            <div class="subtitle">
                Stunden
            </div>
        </div>
        <span class="separation">:</span>
        <div class="d-flex flex-column align-items-center number-container">
            <div class="number">
                22
            </div>
            <div class="subtitle">
                Sekunden
            </div>
        </div>
    </div>
</div>

<style>
    .main {
        background-color: #2F5862;
        padding-top: 13.375rem;
        padding-bottom: 16.313rem;
    }
    .bg-text {
        top: 89px;
        font-size: 200px;
        font-weight: 800;
        line-height: 273px;
        letter-spacing: -10px;
        color: #416B74;
        z-index: 1;
        opacity: 0.51;
    }
    .number {
        font-size: 100px;
        font-weight: bold;
        line-height: 136px;
        letter-spacing: -6.7px;
        color: #F8FBFD;
    }
    .subtitle {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -1.3px;
        color: #F8FBFD;
        opacity: 0.5;
        margin-top: -1.5rem;
    }
    .number-container {
        width: fit-content;
    }
    .separation {
        font-size: 78px;
        font-weight: bold;
        line-height: 106px;
        letter-spacing: -5.23px;
        color: #F8FBFD;
    }
    .countdown {
        gap: 2rem;
        z-index: 2;
    }
</style>