---

---

<footer class="container-fluid footer d-flex flex-column gap-5">
    <img src="/logo/HEBAKON_Logo.png" alt="logo" width="286px" height="72px">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column gap-4">
            <div class="d-flex gap-3 align-items-center info">
                <img src="/icons/icons8-adresse-50.png" srcset="/icons/icons8-adresse-50@2x.png 2x" alt="adress">
                <span class="bigger-text">Musterstraße 22<br/>11111 München</span>
            </div>
            <div class="d-flex gap-3 align-items-center info">
                <img src="/icons/icons8-email-50.png" srcset="/icons/icons8-email-50@2x.png 2x" alt="email">
                <span class="bigger-text">info@hebakon.com</span>
            </div>
            <div class="d-flex gap-3 align-items-center info">
                <img src="/icons/icons8-telefon-50.png" srcset="/icons/icons8-telefon-50@2x.png 2x" alt="telefon">
                <span class="bigger-text">+49 452 658 21 00</span>
            </div>
            <div class="d-flex gap-3 align-items-end info">
                <span class="bigger-text">Add us on:</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -5 60 60" width="40px" height="40px"><path d="M48,7H16c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h17V38h-6v-7h6v-5c0-7,4-11,10-11c3.133,0,5,1,5,1v6h-4 c-2.86,0-4,2.093-4,4v5h7l-1,7h-6v17h8c4.418,0,8-3.582,8-8V15C56,10.582,52.418,7,48,7z"/></svg>
            </div>
        </div>

        <div class="d-flex flex-column gap-3">
            <span class="heading bigger-text">Programm</span>
            <a href="#" class="link bigger-text">Über Uns</a>
            <a href="#" class="link bigger-text">Kontaktformular</a>
            <a href="#" class="link bigger-text">Seminare</a>
            <a href="#" class="link bigger-text">Seminare</a>
        </div>

        <div class="d-flex flex-column gap-3">
            <span class="heading bigger-text">Resources</span>
            <a href="#" class="link bigger-text">News</a>
            <a href="#" class="link bigger-text">Blog</a>
            <a href="#" class="link bigger-text">Videos</a>
            <a href="#" class="link bigger-text">FAQs</a>
        </div>
        <form class="d-flex flex-column gap-3 form">
            <span class="heading bigger-text">Abonnieren</span>
            <input type="text" class="form-control shadow">
            <button class="btn shadow">Schicken</button>
            <span>Bleibe immer informiert mit unserem Newsletter</span>
        </form>
    </div>

</footer>

<style>
    .bigger-text {
        font-size: 18px;
    }
    .btn:hover {
        color: #FFFFFF;
        background-color: #B66D6D;
    }
    .btn {
        color: #FFFFFF;
        background-color: #D88788;
    }
    .form {
        width: 20rem;
        height: 3rem;
    }
    .link {
        color: #1E1E1E;
        text-decoration: none;
    }
    .heading {
        color: #D88788;
    }
    .info {
        color: #1E1E1E;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .footer {
        background-color: #F1F1F1;
        padding-left: 23.75rem;
        padding-right: 23.75rem;
        padding-top: 7rem;
        padding-bottom: 7.5rem;
    }
</style>