---

---
<div class="card shadow form-card">
    <div class="card-body">
        <h3 class="card-title">BLEIB IN KONTAKT</h3>
        <p class="card-text">Schreibe uns jederzeit. Wir werden die so schnell wie möglich antworten</p>
        <form>
            <div>
                <input type="text" class="form-control" id="name">
                <label for="name" class="form-label">VORNAME</label>
            </div>
            <div>
                <input type="text" class="form-control" id="name">
                <label for="name" class="form-label">NACHNAME</label>
            </div>
            <div>
                <input type="email" class="form-control" id="email">
                <label for="email" class="form-label">E-MAIL</label>
            </div>
            <div>
                <input type="tel" class="form-control" id="tel">
                <label for="tel" class="form-label">TELEFON NUMMER</label>
            </div>
            <div>
                <textarea class="form-control" id="message" rows="3"></textarea>
                <label for="message" class="form-label">NACHRICHT</label>
            </div>
            <div class="d-flex justify-content-end" style="width=100%">
                <button type="submit" class="btn">Schicken</button>
            </div>
        </form>
    </div>
</div>

<style>
    h3 {
        font-size: 2.8rem;
        font-weight: 800;
        line-height: 61px;
    }
    p {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 27px;
        color: #1E1E1E;
    }
    textarea {
        resize: none;
    }
    form{
        margin-top: 3.75rem;
    }
    form > div {
        margin-bottom: 1.65rem;
    }
    .btn {
        background-color: #D88788;
        color: #FFFFFF;
        width: 20rem;
        font-size: 19px;
        line-height: 26px;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        font-weight: normal;
    }
    .end {
        margin-bottom: 3.5rem;
    }
    .form-label {
        font-size: 1.25rem;
        line-height: 27px;
        font-weight: normal;
    }
    .form-control {
        border: none;
        border-bottom: 2px solid #E6E6E6;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        margin-bottom: 0.3rem;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 27px;
    }
    .form-control:focus {
        background-color: transparent;
    }

    .form-card {
        background-color: #F8FBFD;
    }
    .form-card .card-body {
        padding-top: 4.6rem;
        padding-left: 2.7rem;
        padding-right: 2rem;
        padding-bottom: 5.3rem;
    }
    .form-card h3 {
        color: #D88788;
    }

    @media only screen and (min-width: 600px) {
        .form-card {
            width: 49.5rem;
        }

        .form-card .card-body {
            padding-top: 6.6rem;
            padding-left: 6.7rem;
            padding-right: 6rem;
            padding-bottom: 7.3rem;
        }
    }
</style>