---
import LinkButton from "../components/LinkButton.astro";
---

<div class="forth-part d-flex justify-content-between flex-column flex-xxl-row">
    <div class="d-flex flex-column">
        <div class="text1 order-1 order-xxl-0">
            <h3>MOBILIAR UND TECHNISCHE AUSSTATTUNG</h3>
            <p>
                Auf Wunsch können wir Ihnen zusätzliches Mobiliar und einen Elektroanschluss für Ihren Stand zur Verfügung stellen. Die entsprechende Auswahl und Bestellmöglichkeit stellen wir Ihnen schnellstmöglich online als Download zu Verfügung.<br/>
                Den finalen Ausstellungsplan erhalten Sie circa 4 Wochen vor Veranstaltungsbeginn. Eine vorläufige Übersicht können Sie Ende November 2023 erwarten. Die Veranstaltung wird unter den Voraussetzungen der zum Veranstaltungszeitpunkt gültigen behördlichen Anordnungen/ Bestimmungen stattfinden. Die Bestimmungen sind von allen Firmen und Standbetreuern zu tragen und zu erfüllen.
            </p>
            <h3>STANDPLATZVERGABE</h3>
            <p>
                Die Vergabe der Standplätze erfolgt nach dem Prinzip „first come – first served“. Firmen, die einen Sponsorenstatus haben, werden bevorzugt platziert.
            </p>
        </div>
        <div class="img order-0 order-xxl-1">
            <img src="/images/84552.png" alt="">
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="img">
            <img src="/images/NoPath - Kopie (64).png" alt="">
        </div>
        <div class="text2">
            <h3>REGISTRIERUNG VON FIRMEN‐/STANDPERSONAL</h3>
            <p>
                Aussteller (Standpersonal, min. 2 Personen je Standfläche) bezahlen keine Tagungsgebühr, sie können kostenfrei am wissenschaftlichen Programm und am Pausenimbiss teilnehmen. Alle weiteren Personen müssen zu einer Gebühr von jeweils 59,00 € / Tag zzgl. 19% MwSt. registriert werden. Die Kostenumlage enthält die Registrierung sowie die Teilnahme am wissenschaftlichen Programm und Pausenimbiss. Die Anmeldung des Firmenpersonals erfolgt zu einem späteren Zeitpunkt.<br/>
                <br/>
                <b>Werbepakete auf Anfrage</b>
            </p>
            <LinkButton>Anfrage</LinkButton>
        </div>
    </div>
</div>

<style>
    .forth-part {
        background-color: #F1F1F1;
        padding-top: 0;
        padding-bottom: 9.75rem;
        gap: 2rem;
        overflow-x: hidden;
    }
    .forth-part h3 {
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
        color: #D88788;
    }
    .forth-part p {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #1E1E1E;
    }
    .forth-part .text1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .forth-part .text1 p {
        width: 90vw;
    }
    .forth-part .text1 p:first-of-type {
        margin-bottom: 3.9rem;
    }
    .forth-part .text1 p:last-of-type {
        margin-bottom: 3.625rem;
    }
    .forth-part .text1 h3 {
        margin-bottom: 2rem;
    }
    .forth-part .img img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .forth-part .text2 {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .forth-part .text2 h3 {
        margin-top: 4.5rem;
        margin-bottom: 2.875rem;
    }
    .forth-part .text2 p {
        width: 90vw;
        margin-bottom: 2.875rem;
    }
    @media only screen and (min-width: 1400px) {
        .forth-part {
            background-color: #F1F1F1;
            padding-top: 8.375rem;
            padding-bottom: 9.75rem;
            gap: 7.6rem;
            overflow-x: hidden;
        }
        .forth-part .text1 {
            padding-left: 6.2rem;
            padding-right: 0;
        }
        .forth-part .text1 p {
            width: 42.375rem;
        }
        .forth-part .text2 {
            padding-right: 6.2rem;
            padding-left: 0;
        }
        .forth-part .text2 p {
            width: 34.688rem;
            margin-bottom: 2.875rem;
        }
    }
    @media screen
    and (min-width: 1700px) {
        .forth-part .text1 {
            padding-left: 16.2rem;
        }
        .forth-part .text2 {
            padding-right: 16.2rem;
        }
    }
</style>