<div class="snd-part">
    <h3>DAS TEAM FÜR SIE VOR ORT</h3>
    <div class="d-flex flex-column flex-xxl-row gap-5 justify-content-center">
        <div class="card shadow">
            <h4>Veranstalter</h4>
            <div>Bildungsinstitut Fachbereiche Gesundheitswesen B.F.G.</div>
        </div>
        <div class="card shadow">
            <h4>Wissenschaftliche Leitung</h4>
            <div>Peggy Seehafer, Hebamme und Hemma Pfeifenberger, Hebamme</div>
        </div>
        <div class="card shadow">
            <h4>Fachausstellung</h4>
            <div>Sebastian Keppler, congress & more Klaus Link GmbH Karlsruhe</div>
        </div>
    </div>
</div>

<style>
    .snd-part {
        background-color: #F1F1F1;
        padding-top: 4.75rem;
        padding-bottom: 8rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .snd-part h3 {
        font-size: 40px;
        font-weight: bold;
        line-height: 60px;
        color: #D88788;
        margin-bottom: 3.2rem;
    }
    .card {
        background-color: #FFFFFF;
        padding: 2.8rem;
        padding-right: 5rem;
        width: fit-content;
        height: auto;
    }
    .card > h4 {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        color: #1E1E1E;
        margin: 0;
    }
    .card > div {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #1E1E1E;
        margin-top: 1.25rem;
    }
    @media only screen and (min-width: 1400px) {
        .snd-part {
            background-color: #F1F1F1;
            padding-top: 4.75rem;
            padding-bottom: 8rem;
            padding-left: 6.25rem;
            padding-right: 6.25rem;
        }
        .card {
            background-color: #FFFFFF;
            padding: 2.8rem;
            padding-right: 5rem;
            width: 27.125rem;
            height: 13.375rem;
        }
    }
    @media screen
    and (min-width: 1700px) {
        .snd-part {
            background-color: #F1F1F1;
            padding-top: 4.75rem;
            padding-bottom: 8rem;
            padding-left: 16.25rem;
            padding-right: 16.25rem;
        }
    }
</style>