<div class="d-flex align-items-center gap-4">
    <div>
        <img src="/icons/Icon ionic-ios-check.svg" alt="">
    </div>
    <div class="text">
       <slot />
    </div>
</div>

<style>
    .text {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #F8FBFD;
    }
</style>