<div class="sixth-part">
    <h3>IHRE ANSPRECHPARTNER</h3>
    <div class="d-flex justify-content-between flex-column flex-md-row gap-5 gap-md-0">
        <div class="card shadow flex-column justify-content-between">
            <h4>Weitere Sponsoring Aktionen sind möglich.<br/>Sprechen Sie uns gerne an</h4>
            <div>Evamaria Wilhelmi<br/>
                <span class="underline">fobi@stressfrei‐tagen.de</span><br/>
                Mobil: <span class="underline">0151 230 198 58</span></div>
        </div>
        <div class="card shadow flex-column justify-content-between">
            <h4>Bei Fragen rund um die Ausstellung nehmen Sie gerne Kontakt auf mit:</h4>
            <div>Sebastian Keppler<br/>
                <span class="underline">keppler@congressandmore.de</span><br/>
                Tel: <span class="underline">0721 626 939 12</span></div>
        </div>
    </div>
</div>

<style>
    .underline {
        text-decoration: underline;
    }
    .sixth-part {
        background-color: #F1F1F1;
        padding-top: 2.44rem;
        padding-bottom: 3.125rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sixth-part h3 {
        font-size: 30px;
        font-weight: bold;
        line-height: 60px;
        color: #D88788;
        margin-bottom: 5.2rem;
    }
    .card {
        background-color: #FFFFFF;
        padding-top: 3.125rem;
        padding-bottom: 4rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        width: 100%;
        height: auto;
    }
    .card > h4 {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        color: #1E1E1E;
        margin: 0;
    }
    .card > div {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #1E1E1E;
        margin-top: 1.25rem;
    }
    @media only screen and (min-width: 600px) {
        .sixth-part {
            background-color: #F1F1F1;
            padding-top: 8.44rem;
            padding-bottom: 9.125rem;
            padding-left: 13.75rem;
            padding-right: 18.2rem;
        }
        .sixth-part h3 {
            font-size: 40px;
            font-weight: bold;
            line-height: 60px;
            color: #D88788;
            margin-bottom: 5.2rem;
        }
        .card {
            background-color: #FFFFFF;
            padding-top: 3.125rem;
            padding-bottom: 4rem;
            padding-left: 2.8rem;
            padding-right: 2.8rem;
            width: 30.25rem;
            height: 20.125rem;
        }
    }
    @media screen
    and (-webkit-max-device-pixel-ratio: 1) {
        .sixth-part {
            background-color: #F1F1F1;
            padding-top: 8.44rem;
            padding-bottom: 9.125rem;
            padding-left: 23.75rem;
            padding-right: 28.2rem;
        }
    }
</style>