<div class="fst-part d-flex flex-column flex-xl-row">
    <div class="img1">
        <img src="/images/NoPath - Kopie (61).png" alt="">
    </div>
    <div class="content">
        <h2>MODERN UND VIELFÄLTIG</h2>
        <div class="lst d-flex flex-column">
            <div class="d-flex align-items-center mb-4">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    beeindruckend ist die zehn Meter Deckenhöhe im Großen Saal
                </div>
            </div>
            <div class="d-flex align-items-center mb-4">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    inspirierend ist der Blick auf den historischen Kurpark und die Nidda aus allen Foyerbereichen
                </div>
            </div>
            <div class="d-flex align-items-center mb-4">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    direkt angeschlossen ist das Dorint‐Parkhotel mit 180 Zimmern
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    350 Parkplätze in der Tiefgarage sorgen für eine komfortable An‐ und Abreise
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .fst-part {
        background-color: #F1F1F1;
        padding-top: 0;
        padding-right: 0;
    }
    .fst-part .content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .fst-part .img1 img {
        width: 100vw;
        height: auto;
    }
    .fst-part h2 {
        font-size: 59px;
        font-weight: 800;
        letter-spacing: -2.45px;
        line-height: 64px;
        color: #D88788;
        padding-top: 2.1rem;
        margin-left: 0;
        margin-bottom: 1.3rem;
    }
    .fst-part .arrow img {
        width: 0.8rem;
        height: auto;

    }
    .fst-part .arrow {
        margin-right: 1.125rem;
    }
    .fst-part .lst {
        margin-left: 0;
        padding-right: 3rem;
    }
    .fst-part .lst .text {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #1E1E1E;
    }
    @media only screen and (min-width: 1200px) {
        .fst-part {
            background-color: #F1F1F1;
            padding-top: 3.8rem;
            padding-right: 5.7rem;
        }
        .fst-part .content {
            padding-left: 0;
            padding-right: 0;
        }
        .fst-part .img1 img {
            width: 50.25rem;
            height: auto;
        }
        .fst-part h2 {
            font-size: 79px;
            font-weight: 800;
            letter-spacing: -5.45px;
            line-height: 104px;
            color: #D88788;
            padding-top: 2.1rem;
            margin-left: -2rem;
            margin-bottom: 1.3rem;
        }
        .fst-part .lst {
            margin-left: 3.9rem;
            padding-right: 3rem;
        }
    }
    @media screen
    and (min-width: 1400px) {
        .fst-part {
            background-color: #F1F1F1;
            padding-top: 6.8rem;
            padding-right: 16.7rem;
        }
        .fst-part .img1 img {
            width: 60.25rem;
            height: auto;
        }
        .fst-part h2 {
            font-size: 109px;
            font-weight: 800;
            letter-spacing: -5.45px;
            line-height: 124px;
            color: #D88788;
            padding-top: 2.1rem;
            margin-left: -3rem;
            margin-bottom: 4.3rem;
        }
    }
</style>