---

---
<div class="third-part position-relative">
    <img src="/images/Gruppe 56.png" alt="" class="gruppe">
    <div class="d-flex content">
        <div class="d-flex flex-column fst-row">
            <h3>KOSTEN STANDFLÄCHE</h3>
            <div class="kosten-card card shadow">
                Reihenstand 240€/m²
            </div>
            <div class="kosten-card card shadow">
                Eckstand 264€/m²
            </div>
            <div class="kosten-card card shadow">
                Kopfstand 288€/m²
            </div>
            <p>
                Die Mindestgröße der gebuchten Standfläche beträgt 6 m², der Preis versteht sich zzgl. 19 % MwSt.
            </p>
        </div>
        <div class="d-flex flex-column snd-row">
            <h3>IM STANDPREIS ENTHALTEN SIND</h3>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Bereitstellung der Standfläche
                </div>
            </div>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Registrierung von mindestens zwei Standbetreuer‐/innen
                </div>
            </div>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Aufsicht und technische Koordinierung beim Auf‐ und Abbau
                </div>
            </div>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Allgemeine Beleuchtung
                </div>
            </div>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Allgemeine Klimatisierung bzw. Heizung
                </div>
            </div>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Reinigung der Flure und Abfallbeseitigung (keine Standreinigung)
                </div>
            </div>
            <div class="d-flex align-items-center lst-item">
                <div class="arrow">
                    <img src="/icons/Icon ionic-ios-arrow.svg" alt="">
                </div>
                <div class="text">
                    Nennung des Ausstellers (Firmenname ohne Logo) auf der Kongresshomepage sowie im Tagungsprogramm
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .third-part {
        background-color: #2F5862;
        overflow: hidden;
        padding-top: 5.625rem;
        padding-bottom: 6.563rem;
    }
    .third-part h3 {
        font-size: 30px;
        line-height: 60px;
        font-weight: bold;
        color: #D88788;
        margin-bottom: 2.125rem;
    }
    .content {
        padding-left: 15.8rem;
        padding-right: 17.125rem;
        gap: 10.7rem;
        z-index: 2;
        position: relative;
    }
    .kosten-card {
        background-color: #FFFFFF;
        padding-top: 2.125rem;
        padding-bottom: 2.125rem;
        padding-left: 2.125rem;
        width: 27.125rem;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #1E1E1E;
        margin-bottom: 1.125rem;
    }
    .kosten-card:last-of-type {
        margin-bottom: 2.438rem;
    }
    .fst-row p {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #F8FBFD;
        width: 30.125rem;
    }
    .arrow {
        margin-right: 1.125rem;
    }
    .text {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        color: #F8FBFD;
    }
    .lst-item {
        margin-bottom: 2.125rem;
    }
    .gruppe {
        display: none;
        position: absolute;
        bottom: -385px;
        right: -960px;
        transform: rotate(109deg) scale(0.5);
        z-index: 1;
    }
    @media only screen and (min-width: 600px) {
        .gruppe {
            display: block;
        }
    }
    @media screen
    and (-webkit-max-device-pixel-ratio: 1) {
        .gruppe {
            display: block;
            position: absolute;
            bottom: -720px;
            right: -900px;
            transform: rotate(109deg) scale(0.5);
            z-index: 1;
        }
    }
</style>