---

---

<div class="main">
    <div class="fst-row d-flex">
        <div class="img">
            <img src="/images/vilco-bad-vilbel-header-homepage-1900x800-crop-q100.png" alt="">
        </div>
        <div class="d-flex flex-column text justify-content-center">
            <span>Kongresszentrum</span>
            <h2>VILCO</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
        </div>
    </div>
    <div class="snd-row d-flex flex-row-reverse">
        <div class="img">
            <img src="/public/images/NoPath - Kopie (15).png" alt="">
        </div>
        <div class="text">
            <div class="d-flex align-items-center header">
                <div class="d-flex flex-column">
                    <span>VON</span>
                    <span>FÜR</span>
                </div>
                <h2>HEBAMMEN</h2>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
</div>

<style>
    .main {
        background-color: #F1F1F1;
        padding-top: 7.8rem;
        padding-bottom: 12.375rem;
    }
    .fst-row {
        margin-bottom: 11.25rem;
    }
    .fst-row .text {
        text-align: right;
        padding-right: 17.25rem;
        margin-left: -7rem;
    }
    .fst-row .text span {
        font-size: 30px;
        font-weight: normal;
        line-height: 41px;
        letter-spacing: -0.75px;
        margin-bottom: -2.5rem;
        color: #1E1E1E;
    }
    .fst-row .text h2 {
        font-size: 174px;
        line-height: 237px;
        letter-spacing: -6.96px;
        font-weight: 600;
        color: #D88788;
    }
    .fst-row .text p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.04px;
        font-weight: normal;
        color: #1E1E1E;
        padding-left: 11.375rem;
    }
    .snd-row .text {
        padding-left: 17.25rem;
        margin-right: -7rem;
        z-index: 10;
    }
    .snd-row .img img {
        width: 60.188rem;
        height: auto;
    }
    .snd-row span {
        font-size: 40px;
        line-height: 45px;
        font-weight: bold;
        color: #1E1E1E;
    }
    .snd-row span:first-of-type {
        letter-spacing: -2px;
    }
    .snd-row span:last-of-type {
        letter-spacing: 3.24px;
    }
    .snd-row h2 {
        font-size: 110px;
        line-height: 150px;
        letter-spacing: -0.22px;
        font-weight: bold;
        color: #D88788;
    }
    .snd-row .header {
        gap: 0.75rem;
    }
    .snd-row p {
        color: #1E1E1E;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.04px;
        font-weight: normal;
        padding-right: 12rem;
    }
</style>