---
import LinkButton from "./LinkButton.astro";
---

<div class="main position-relative d-flex flex-column flex-md-row">
    <img src="/images/Gruppe 56.png" alt="" class="gruppe position-absolute">
    <div class="img position-relative z-2">
        <img src="/images/NoPath - Kopie (40).png" alt="">
    </div>
    <div class="d-flex flex-column justify-content-center position-relative z-2 content">
        <h2>TOP SPEKAER</h2>
        <h3>MAX MUSTERMANN</h3>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <span><LinkButton>Anmelden</LinkButton></span>
    </div>
</div>

<style>
    .main {
        background-color: #2F5862;
        padding-top: 0;
        padding-bottom: 2rem;
        overflow: hidden;
    }
    .gruppe {
        display: none;
        top: -955px;
        left: 100px;
        transform: scale(0.5) rotate(110deg);
        z-index: 1;
    }
    .img {
        margin-left: 0;
    }
    .img img {
        width: 100vw;
        height: 37.938rem;
        object-fit: cover;
    }
    .content {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }
    h2 {
        font-size: 45px;
        font-weight: bold;
        line-height: 61px;
        letter-spacing: -0.09px;
        color: #D88788;
        margin-left: 0;
        margin-top: -12rem;
        text-align: center;
    }
    h3 {
        font-size: 25px;
        font-weight: bold;
        line-height: 34px;
        letter-spacing: -1.02px;
        color: #F8FBFD;
        padding-left: 0;
        margin-bottom: 2rem;
        text-align: right;
    }
    p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.03px;
        color: #F8FBFD;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 2rem;
    }
    span {
        padding-left: 0;
    }
    @media only screen and (min-width: 600px) {
        .gruppe {
            display: block;
            top: -955px;
            left: 100px;
            transform: scale(0.5) rotate(110deg);
            z-index: 1;
        }
        .content {
            padding-left: 0;
            padding-right: 0;
        }
        h2 {
            font-size: 90px;
            font-weight: bold;
            line-height: 82px;
            letter-spacing: -0.18px;
            color: #D88788;
            margin-left: -5.5rem;
            margin-top: 0;
            text-align: left;
        }
        h3 {
            font-size: 50px;
            font-weight: bold;
            line-height: 68px;
            letter-spacing: -2.05px;
            color: #F8FBFD;
            padding-left: 3rem;
            margin-bottom: 5.672rem;
            text-align: left;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.04px;
            color: #F8FBFD;
            padding-left: 4.5rem;
            padding-right: 10rem;
            margin-bottom: 1.5rem;
        }
        span {
            padding-left: 4.5rem;
        }
        .main {
            background-color: #2F5862;
            padding-top: 10.375rem;
            padding-bottom: 0rem;
            overflow: hidden;
        }
        .img {
            margin-left: -1rem;
        }
        .img img {
            width: 40.25rem;
            height: auto;
        }
    }
    @media screen
    and (-webkit-max-device-pixel-ratio: 1) {
        .gruppe {
            top: -955px;
            left: 460px;
            transform: scale(0.5) rotate(110deg);
            z-index: 1;
        }
        .img img {
            width: 54.25rem;
            height: auto;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.04px;
            color: #F8FBFD;
            padding-left: 4.5rem;
            padding-right: 25rem;
            margin-bottom: 1.5rem;
        }
    }
</style>