<div class="container-fluid snd-part position-relative">
    <img src="/images/Gruppe 56.png" alt="" class="gruppe">
    <div class="row">
        <div class="col content">
            <img src="/images/NoPath - Kopie (55).png" alt="">
        </div>
        <div class="col align-self-center content">
            <h2>AFTER PARTY</h2>
            <h3>„FLO & CHRIS“</h3>
            <p>„Flo & Chris“ sorgen mit ihrem außergewöhnlichen Show-Konzept für ausgelassene Stimmung. Hebammen, let´s dance! Kleine Band – große Show.<br/>
            <br/>
            Ticket für Party 49,- €: inkl. Eintrittskarte für „Flo & Chris in concert“ mit Party-Snack und drei Getränke inkludiert</p>
        </div>
    </div>
</div>

<style>
    .snd-part {
        background-color: #2F5862;
        padding-top: 0;
        padding-right: 0;
        overflow: hidden;
        padding-left: 1rem;
    }
    .snd-part .content {
        z-index: 2;
    }
    .gruppe {
        display: none;
        position: absolute;
        bottom: 150.5px;
        right: -130.25px;
        transform: rotate(109deg) scale(1.2);
        z-index: 1;
    }
    .snd-part .row {
        gap: 3.4rem;
    }
    .snd-part img {
        width: 102vw;
        height: auto;
        margin-left: -0.5rem;
    }
    .snd-part h2 {
        color: #D88788;
        font-size: 42px;
        line-height: 70px;
        font-weight: bold;
        margin-left: 0;
    }
    .snd-part h3 {
        color: #F8FBFD;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .snd-part p {
        color: #F8FBFD;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
    }
    .col {
        padding: 0;
    }
    @media only screen and (min-width: 1200px) {
        .gruppe {
            display: block;
        }
        .snd-part {
            background-color: #2F5862;
            padding-top: 9.2rem;
            padding-right: 5rem;
            padding-bottom: 9.2rem;
            overflow: hidden;
            padding-left: 0;
        }
        .snd-part h3 {
            color: #F8FBFD;
            font-size: 50px;
            line-height: 68px;
            letter-spacing: -2.05px;
            font-weight: bold;
            margin-bottom: 5.5rem;
        }
        .snd-part h2 {
            color: #D88788;
            font-size: 90px;
            line-height: 122px;
            font-weight: bold;
            margin-left: -8.5rem;
        }
        .snd-part img {
            width: 54.219rem;
            height: auto;
            margin-left: -1rem;
        }
    }
    @media screen
    and (min-width: 1400px;) {
        .snd-part {
            background-color: #2F5862;
            padding-top: 9.2rem;
            padding-right: 28rem;
            padding-bottom: 9.2rem;
            overflow: hidden;
        }
        .snd-part h2 {
            color: #D88788;
            font-size: 90px;
            line-height: 122px;
            font-weight: bold;
            margin-left: -8.5rem;
        }
    }
</style>